body{
    background: white;
}
.t1 {
    font-size: 130px;
    font-weight: 500;
    background-color: white;
    align-content: center;
    margin-top: 130px;
}
.t2 {
    font-size: 80px;
    font-weight: 500;
    background-color: white;
}

.principal {
    padding: 30px 200px;
}


.Prueba{
    color:gray;
    padding: 0;
}

.imagen {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}