<!-- your html code here -->
<div class="row bg-white align-items-strech principal">
    
  <div class="col-8 Texto">
  <h1>The First Heading <span class="Prueba">Will Catch Your Eye</span></h1> 
  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
  took a galley of type and scrambled it to make a type specimen book. </p>
  </div>
  <div class=" col-4 imagen">
      <img src="/website/assets/img/1.jpg"  alt="...">
  </div>
</div>