<!-- your html code here -->

     <div class="row bg-white p-4">
       <img src="/website/assets/img/2.jpg" class="col-4 rounded-circle d-inline p-3" width="300" height="430" alt="...">
       <div class="col-8 d-inline p-3 align-middle">
         <h1 class="card-title">The Second Heading <span class="text-secondary">Is Pretty Cool Too. </span></h1>         
         <p class="card-text p-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
             took a galley of type and scrambled it to make a type specimen book. </p>
       </div>
     </div>